body {
    line-height: 1.6;
    font: 300 14px 'Montserrat';
    font-weight: 500;
    background-color: #F0F0F0;
}

header {
    width: 100%;
    position: relative;
}

header .navbar {
    padding: 0;
    background-color: black;
}

header .navbar:nth-child(1)>.container {
    padding: 18px 0;
}

header .navbar:nth-child(2)>.container {
    padding: 10px 0;
}

header .container::before {
    content: "";
    width: calc(100% - 100px);
    height: 0px;
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 50px;
}


header .top-left {
    font-size: 12px;
    font-weight: 600;
    color: #666;
}

header .top-left a {
    color: #666;
}

header .dflex svg {
    color: white;
}

header .top-left span {
    margin: 0 10px;
}

header .container .navbar-brand {
    letter-spacing: 5px;
    font-weight: 200px;
}



header .container .nav-item {
    position: relative;
    font-size: 12px;
}

header .container .nav-item .nav-link {
    position: relative;
    text-decoration: none;
    padding: 8 15px;
}

header .container .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease, left 0.3s ease;
    margin: 0;
    border: 0;
}

header .container .nav-item:hover .nav-link::after {
    width: 80%;
    left: 10%;
    height: 2px;
}

header .container .menu-item-list {
    display: block;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    border-radius: 0;
    top: 35px;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-20px);
}

header .container .menu-item-list .menu-item {
    display: block;
    font-weight: 600;
    border-bottom: 1px solid #d8d8d8;
    color: #000000;
    padding: 15px;
    font-size: 12px;
    text-decoration: none;
    width: 175px;
}

header .container .nav-item:hover .menu-item-list {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

header .container .d-flex {
    display: flex;
    align-items: center;
}

header .container .d-flex>* {
    vertical-align: middle;
}


header .container .d-flex a {
    text-decoration: none;
    color: #fff;
    font: 300 14px 'Montserrat';
    font-weight: 200;
    font-size: 11px;
    margin: 0 5px;
}

header .container .d-flex a:hover {
    text-decoration: underline;
}

main .card-group .card .card-img-overlay {
    transition: opacity 0.3 ease, transform 0.3 ease;
    opacity: 0.5;
}